doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='http://code.jquery.com/ui/1.10.2/jquery-ui.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

        //script(src="/javascripts/jquery.contextMenu.js")
        //link(rel="stylesheet' href ='/stylesheets/jquery.contextMenu.css")



        script(src="//cdn.rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.js")
        link(rel="stylesheet" href="//cdn.rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css")


        script.
            $(document).ready(function () {


                $.ajax({
                    type: "POST",
                    //contentType: "application/json",
                    url: "select_tasks",
                    //data: formData,   //JSON.stringify(formData),
                    dataType: 'json',
                    success: function (data) {
                        var html = '';
                        $.each(data, function (i, row) {
                            html += "<tr>";
                            html += "<td><input type= 'checkbox' id='" + row.id + "'data-name='" + row.name + "'data-begda='" +
                                row.begda + "'data-endda='" + row.endda + "'data-author='" + row.author +
                                "'class='" + "row_chbx" + "'>" + "</td>";
                            html += "<td>" + row.name + "</td>";
                            html += "<td>" + row.begda + "</td>";
                            html += "<td>" + row.endda + "</td>";
                            html += "<td>" + row.author + "</td>";
                            html += "</tr>";
                        });
                        $('table tbody').append(html);
                    }
                });


                $('#delete_task').click(function () {
                    var checkbox = $('.row_chbx:checked');
                    if (checkbox.length > 0) {
                        var del_checkbox = [];
                        $(checkbox).each(function () {
                            del_checkbox.push($(this).attr('id'));
                        });

                        $.ajax({
                            type: "POST",
                            url: "delete_task",
                            data: del_checkbox,
                            success: function (data) {
                                $('.form-control').css('display','none');

                            }
                        });

                    }
                    else {
                        alert('Вы не выбрали ни одного задания:))');
                    }
                });

                $(document).on('click', '.add_subtask', function () {
                    $('<tr>' +
                        "<td><input type= 'checkbox' id='"+ "1" + "'class='" + "row_chbx" + "'>" + "</td>" +
                        '<td>Подазадача</td>' +
                        '<td>Дата окончания</td>' +
                        "<td><input type = 'button' id='" + "1" + "'class='" + "task_options" + "'></td>" +
                        '<td>Автор</td>' +
                        "<td><input type = 'button' id='" + "1" + "'class='" + "btn btn-info btn-xs edit_data" + "'value='" + "Редактировать" + "'/>" + "</td>" +
                        "<td><input type = 'button' id='" + "1" + "'class='" + "btn btn-info btn-xs view_data" + "'value='" + "Просмотр" + "'/>" + "</td>" +
                        '</tr>').insertAfter($(this).closest('tr'));

                });



                $(document).on('click', '.row_chbx', function () {
                    var html = '';
                    if ($(this).is(':checked')) {
                        html += "<td><input type='checkbox' id='" +$(this).attr('id') + "'data-name='" + $(this).data('name') +
                            "'data-begda='" + $(this).data('begda') + "'data-endda='" +
                            $(this).data('endda') + "'data-author='" + $(this).data('author') +
                            "'checked='" + "'class='" + "row_chbx"  +  "'/>" + "</td>";
                        html += "<td><input type='text' class='" + "form-control" + "'name='" + "name[]" + "'value='" + $(this).data('name') + "'/>" + "</td>";
                        html += "<td><input type='text' class='" + "form-control-datepick" + "'name='" + "begda[]" + "'value='" + $(this).data('begda') + "'/>" + "</td>";
                        html += "<td><input type='text' class='" + " form-control-datepick" + "'name='" + "endda[]" + "'value='" + $(this).data('endda') + "'/>" + "</td>";
                        html += "<td><input type='text' class='" + "form-control" + "'name='" + "author[]" + "'value='" + $(this).data('author') + "'/>" + "</td>";
                    }
                    else {

                        html += "<td><input type='checkbox' id='" + $(this).attr('id') + "'data-name='" + $(this).data('name') +
                            "'data-begda='" + $(this).data('begda') + "'data-endda='" +
                            $(this).data('endda') + "'data-author='" + $(this).data('author') +
                            "'class='" + "row_chbx" + "'/>" + "</td>";
                        html += '<td>' + $(this).data('name') + '</td>';
                        html += '<td>' + $(this).data('begda') + '</td>';
                        html += '<td>' + $(this).data('endda') + '</td>';
                        html += '<td>' + $(this).data('author') + '</td>';
                    }
                    $(this).closest('tr').html(html);
                });


                $(document).on('mouseenter', '#mark', function () {
                    $(this).removeAttr('class');
                    $(this).toggleClass('blue');
                });

                $(document).on('mouseleave', '#mark', function () {
                    $(this).removeAttr('class');
                    $(this).toggleClass('black');
                });


                $(document).on('focus', '.form-control-datepick', function () {
                    $(this).datepicker({ dateFormat: 'dd.mm.yy',
                        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель',
                            'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь',
                            'Октябрь', 'Ноябрь', 'Декабрь'],
                        dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб']});
                });


                $(document).on('click','#the-node', function () {
                    //var checkbox = $('.row_chbx:checked');
                    //if (checkbox.length = 0) {
                    $(this).contextMenu({
                        selector: 'input',
                        trigger: 'left',
                        callback: function (key, opt) {
                            var m = "clicked: " + key + " on " + $(this).text();
                            //var m = alert("Clicked on " + key + " on element " + opt.$trigger.attr("id"));
                            alert(m);


                        },
                        items: {
                            "edit": {name: "Edit", icon: "edit.svg"},
                            "cut": {name: "Cut", icon: "cut"},
                            "copy": {name: "Copy", icon: "copy"},
                            "paste": {name: "Paste", icon: "paste"},
                            "delete": {name: "Delete", icon: "delete"},
                            "sep1": "---------",
                            "quit": {
                                name: "Quit", icon: function ($element, key, item) {
                                    return 'context-menu-icon context-menu-icon-quit';
                                }
                            }
                        }
                    });


                    //}

                });


            });




    body
        block content

            h3(align='center')
                br
                div(class="table-responsive")
                    div(align='left')
                        button(id = 'add_new_task' class='.btn.btn-warning' type='button' name='add' data-toggle='modal' data-target=
                        '#add_data_Modal') Создать новое задание
                    br





                    div(id='my_table')

                        table(class='table table-bordered')
                            thead
                                th(width='2%')
                                    //input(type='button' value = 'Удалить' id='delete_task')
                                th(width='5%') Task Name
                                th(width='5%') Start Date
                                th(width='5%') Due Date
                                th(width='5%') Assigned To
                            tbody


            //ul(id="the-node")
                li right click me 3
                li right click me 4
